
{% extends 'accounts/_base.html' %}
{% load static %}

{% block contents %}

<header>
 <h1>کلاس خصوصی و ورکشاپ فنی و هنری</h1>
</header>
<article>

    <h2>کلاس خصوصی زبان انگلیسی:</h2>
    <ul>
     <li>استاد مریم لیاقی ساعتی 100 هزار تومان کلاس آنلاین </li>
     <li>استاد زهرا سعیدی  ساعتی 100 هزار تومان کلاس آنلاین </li>
     <li>استاد زهرا دانش مهر  ساعتی 200 هزار تومان کلاس آنلاین یا حضوری تهران </li>
     <li>استاد فاطمه شهری  ساعتی 100 هزار تومان کلاس آنلاین یا حضوری تهران </li>
    </ul>
</article>

<article>
    <h2>کلاس خصوصی فیزیک:</h2>
    <ul >
     <li >استاد ایمان اربابی  ساعتی 500 هزار تومان کلاس حضوری فیزیک کنکور و متوسطه دوم </li>
    </ul>
    <h2>کلاس خصوصی ریاضی</h2>
    <ul>
     <li> استاد داوود چراغی   ساعتی 600 هزار تومان کلاس حضوری ریاضی کنکور و متوسطه دوم </li>
  </ul>
</article>

<article>
<h2>آموزش کاشت ناخن </h2>
    <ul>
     <li> استاد مهتاب فرهی ورکشاپ 7 روزه هر روز 8 ساعت 3 میلیون تومان </li>
  </ul>

<h2>آموزش میکاپ </h2>
    <ul>
     <li> استادآذین رضایی ورکشاپ 7 روزه هر روز 5 ساعت 2 میلیون تومان </li>
  </ul>

<h2>آموزش تتو و خدمات مژه و ابرو و لب  </h2>
    <ul>
     <li> استاد مائده طهماسبیان  ورکشاپ 2 روزه هر روز 8 ساعت 4 میلیون تومان </li>
     <li> استاد محدثه قاسمی   ورکشاپ 3 روزه هر روز 4 ساعت 3 میلیون تومان </li>
     <li> استاد ناهید مظاهری  ورکشاپ 12 روزه هر روز 3 ساعت 7 میلیون تومان </li>
  </ul>

<h2>آموزش  پاکسازی پوست  </h2>
    <ul>
     <li> استاد ناهید مظاهری ورکشاپ 12 روزه هر روز 3 ساعت 8 میلیون تومان </li>
  </ul>

<h2>آموزش رنگ و مش  شینیون و بافت و فر و براشینگ مو </h2>
    <ul>
     <li> استاد سحر فرجپور  ورکشاپ 3 روزه هر روز 3 ساعت 1 میلیون و 700 هزار تومان </li>
     <li> استاد مرجان رضایت  ورکشاپ 45 روزه هر روز 1/5 ساعت 3 میلیون  تومان </li>
     <li> استاد خدیجه ولی زاده ورکشاپ 2 روزه  1 میلیون و 200 هزار تومان </li>
  </ul>
</article>
{% endblock %}
