
{% extends 'accounts/_base.html' %}
{% load static %}

{% block contents %}
<header>
  <h1 class="text-right">آموزش آنلاین یا حضوری</h1><br><br>
</header>

<article class="text-right" >
    <h2>مزیت های آموزش آنلاین</h2>

    <p>
    1- در آموزش از طریق آنلاین هماهنگ شدن زمان کلاس بسیار ساده است و مزاحمت چندانی برای استاد و دانش آموز ایجاد نمی کند زمان زیادی صرف آماده شدن و حضور درکلاس نمیشود .چه برای استادش چه دانش‌آموز. بنابراین در وقت و هزینه صرفه جویی می‌شود.
    </p>
    <p>
    2- درکلاس آنلاین امکان انتقال بیماری های واگیردار وجود ندارد
    </p>
    <p>
    3- امکان استفاده از فیلم و انیمیشن های آموزشی و ارجاع به منابع در اینترنت به راحتی امکان پذیر است و امکان ضبط صدا و تصویر کلاس و استفاده از تصاویر و رنگهای متنوع وجود دارد.
    </p>
    <p>
4-دسترسی تقریباً همیشگی. در کلاس‌های حضوری معمولاً بیماری و مسافرت یا کارهای شخصی یکی از دو طرف (استاد و شاگرد) باعث از دست رفتن کلاس می‌شد اما کلاس آنلاین به ندرت کنسل می شود زیرا در اکثر شرایط حتی بیماری خفیف یا مسافرت می توان در ساعت مقرر آن را به انجام رساند
</p>
<p>
5- در دسترس بودن کلاس هر استاد برای هر دانش‌آموز فارغ از محل زندگی.  هر دانش‌آموز در هر نقطه‌ای می‌تواند به هر استاد در هر  جایی دسترسی داشته باشد. حال آنکه در آموزش حضوری چنین امری امکان ناپذیر بوده و با صرف هزینه های گزاف نیاز به جابجایی استاد و یا دانش آموز برای برقراری کلاس می باشد.
</p>

<h2>اشکالات کلاس آنلاین</h2>
<p>
1-ارتباط گرچه تصویری و تا حدود چهره به چهره است اما تاثیر زبان بدن ناچیز است چرا که معمولاً تصویر استاد در زمینه و کوچک است و دانش آموز توجه کمی به این تصویر دارد
.</p>
<p>
2-آوردن یک نمونه یا ارجاع به یک خط از یک کتاب و نشان دادن آن به دانش آموز بسیار مشکل است و نیاز به برنامه‌ریزی قبلی و اسکن و غیره دارد که معمولاً استاد در کلاس آنلاین از خیر آن می‌گذرد.
</p>
<p>
3-در کلاس آنلاین اختلالات ارتباطی مربوط به شبکه اینترنت، درست عمل نکردن نرم‌افزار، مشکلات مربوط به سخت افزار از جمله پایین بودن سرعت تجهیزات کامپیوتر موبایل و کیفیت دوربین و نور و غیره به وجود می‌آید که بر روی روند یادگیری تاثیر منفی دارند.
</p>

      </article>

      <!-- the aside content can also be nested within the main content -->
      <aside class="text-center">
        <h2>مطالب مرتبط</h2>

        <ul >
            <li ><a href="{% url 'show_blog' 1 %}">مزیت های آموزش خصوصی</a></li>

        </ul>
      </aside>
{##}
{#    </main>#}

    <!-- And here is our main footer that is used across all the pages of our website -->

    <footer>

      <p>استادباز</p>
    </footer>

{% endblock %}
