
{% extends 'accounts/_base.html' %}
{% load static %}

{% block contents %}
    <header>
      <h1 class="text-right">معرفی معلم خصوصی</h1><br><br>
    </header>

    <nav class="text-right">
      <ul>
{#        <li><a href="#">Home</a></li>#}
        <li><a href="#tutoring_advantage" >چرا آموزش اینقدر مهم شده؟</a></li>
        <li><a href="#tutoring_advantage" >مزیت های آموزش خصوصی</a></li>
        <li><a href="#online_tutoring_adv" >مزیت های آموزش آنلاین</a></li>

      </ul>
</nav>


      <article class="text-right " id="tutoring_advantage">
        <h2>چرا آموزش اینقدر مهم شده؟</h2>
          <p>



انسان های اولیه با گذشت زمان یاد گرفتند که طبیعت بر اساس چه قوانینی  کار می کنه و بر اساس اون قوانین رفتارهاشون رو تنظیم کردند و ابزار ساختند  تا بتونن راحت تر زندگی کنن و غذا گیر بیارن و جلوی مرگ و میر و انقراضشون  رو بگیرن . اسم اینو علم گذاشتن که به کمکش ما انسان ها الان بزرگترین  جمعیت گونه های جانداران هستیم . تقریبا هشت میلیارد نفر !
چیزی که  باعث گسترش علم شده آموزش نسل به نسل مفاهیمه .یعنی هر نسل بشر یه چیزایی  رو فهمیده و اون مفاهیمو به نسل بعدی آموزش داده . پس ما با انباشت مطالب  علمی مواجهیم .
از طرف دیگه هر چه علم پیشرفت می کنه با کمک  تکنولوژی و اینترنت و ... سرعت پیشرفت علم هم زیاد میشه چون این ابزارها به  تبادل علم و آموزش بیشترش کمک می کنن . همچنین با گسترش و پیشرفت علم ،کار  ها تخصصی تر و پیچیده تر میشن و نیاز به آموزش و روش های نوین آموزشی  بیشتر میشه تا اونجا که در عمل همه ما تا آخر عمر به نحوی مجبوریم در حال  یاد گیری باشیم .چون که دست به هر کاری که می زنیم اول اینکه اون حوزه کاری  کلی پیچیدگی و مطالب علمی مختلف داره که باید یاد بگیریم و دوم این که در  حین انجام اون کار ، علم مربوط به اون ، مرتب در حال پیشرفته و ما باید روش  ها و مطالب جدیدی رو یاد بگیریم تا بتونیم باز هم تو اون کار موفق باشیم.به همین دلیله که اینهمه روش های سریع یادگیری و تبلیغات اونها و آموزش تصویری و تند خوانی کنکور و اینها باب شده.

بهمین دلیل آموزش یکی از مهم ترین فعالیت های بشری بوده و هست و بخش  بزرگی از کل زندگی ما رو دربر می گیره . پس باید بهش اهمیت ویژه ای بدیم و  در انتخاب روش های مناسب و اساتید کار آزموده دقت کنیم چون که در غیر این صورت کلی وقت و هزینه رو صرف می کنیم بدون  اینکه به نتیجه مطلوبی برسیم و اغلب سرخورده میشیم و فکر می کنیم که  استعداد لازم رو نداریم و دیگران که تونستن اون موضوع رو یاد بگیرن خیلی با  هوش و با استعداد بودن . در حالی که شاید اونا در انتخاب صحیح نحوه آموزش و  استاد مورد نظر درست تر عمل کرده اند .
یکی از بهترین راه هایی که بشر از ابتدا برای آموزش بکار برده آموزش به شکل استاد و شاگردیه که یه جور کلاس خصوصی بوده که در اون استاد و شاگرد رو در رو ، در کنار هم ، کاری رو انجام می  دادند و از این طریق شاگرد اون مهارت رو یاد می گرفت .الان هم بهترین نوع  آموزش همینه که البته جدیدا" بصورت کلاس آنلاین هم برگزار میشه .
          </p>
        <h2>مزیت های آموزش خصوصی</h2>

        <p> آموزش و یادگیری انسان ها از یکدیگر امری چهره به چهره است و در فرآیند یادگیری باید دو طرف بتوانند با هم ارتباط حسی برقرار کنند . به بیان ساده‌تر اگر دانش آموز حس بدی به معلم خود داشته باشد یا از روی ترس به او گوش فرا دهد مطلب مورد نظر را یاد نمی‌گیرد و زود فراموش نخواهد کرد. اما اگر نسبت به معلم خود احساس خوبی داشته باشد، هوش هیجانی او برانگیخته می‌شود، درس را با لذت گوش داده و فرا می‌گیرد. بنابراین نمی‌توان آموزش را یک امر مکانیکی تصور کرد که اگر به جای معلم یک بلندگو یا یک نرم‌افزار قرار دهید باز هم نتیجه مطلوب را دریافت کنید. این امر در مدارس ژاپن و آمریکا آزمایش شد و نتیجه این بود که میزان یادگیری دانش آموزان با نرم افزار و فیلم بسیار کمتر از حالت ارتباط چهره به چهره بود. بنابراین بهترین و آموزش آن است که ارتباط دوطرفه معلم و شاگرد برقرار شود (حضوری یا آنلاین) و فرآیند تدریس به صورتی ادامه یابد که این دو طرف بتوانند با هم ارتباط برقرار کنند.</p>
        <p>در آموزش خصوصی ارتباط چهره به چهره نقش اساسی دارد و دو طرف از روی چهره و زبان بدن ارتباط بهتری برقرار می‌کنند و دانش آموز و معلم با زیر نظر گرفتن حرکات و واکنش‌های یکدیگر به درک متقابل می‌پردازند و آموزش سریع تر و بهتر انجام می‌شود از طرف دیگر هنگام پاسخ دانش آموز به سوالات مطرح شده معلم نقطه ضعف ها و برداشت های اشتباه او را در می یابد و به اصلاح آنها می‌پردازد حال آنکه در انواع آموزش های دیگر که این امر امکان پذیر نیست.</p>
        <p>
             اما چرا در آموزش گروهی این فرآیند دچار اشکال می شود؟
            علت این است که در آموزش گروهی ارتباط یک به چند است نه یک به یک یعنی یک نفر برای چند نفر صحبت می‌کند و ارتباط تقریباً یک سویه و غیر تعاملی است یعنی دانش آموزان نمی توانند به راحتی با معلم در تعامل دو سویه قرار گیرند. سوالات خود را مطرح کنند و درس را در نقطه دلخواه متوقف کنند . معلم هم نمیتواند فرایند تدریس را برای رفع اشکال هر دانش‌آموز متوقف کند. بنابراین ارتباط دوسویه دانش‌آموز و معلّم دچار اشکال است.
        </p>
      </article>


    <article class="text-right" id="online_tutoring_adv">
    <h2>مزیت های آموزش آنلاین</h2>

    <p>
    1- در آموزش از طریق آنلاین هماهنگ شدن زمان کلاس بسیار ساده است و مزاحمت چندانی برای استاد و دانش آموز ایجاد نمی کند زمان زیادی صرف آماده شدن و حضور درکلاس نمیشود .چه برای استادش چه دانش‌آموز. بنابراین در وقت و هزینه صرفه جویی می‌شود.
    </p>
    <p>
    2- درکلاس آنلاین امکان انتقال بیماری های واگیردار وجود ندارد
    </p>
    <p>
    3- امکان استفاده از فیلم و انیمیشن های آموزشی و ارجاع به منابع در اینترنت به راحتی امکان پذیر است و امکان ضبط صدا و تصویر کلاس و استفاده از تصاویر و رنگهای متنوع وجود دارد.
    </p>
    <p>
4-دسترسی تقریباً همیشگی. در کلاس‌های حضوری معمولاً بیماری و مسافرت یا کارهای شخصی یکی از دو طرف (استاد و شاگرد) باعث از دست رفتن کلاس می‌شد اما کلاس آنلاین به ندرت کنسل می شود زیرا در اکثر شرایط حتی بیماری خفیف یا مسافرت می توان در ساعت مقرر آن را به انجام رساند
</p>
<p>
5- در دسترس بودن کلاس هر استاد برای هر دانش‌آموز فارغ از محل زندگی.  هر دانش‌آموز در هر نقطه‌ای می‌تواند به هر استاد در هر  جایی دسترسی داشته باشد. حال آنکه در آموزش حضوری چنین امری امکان ناپذیر بوده و با صرف هزینه های گزاف نیاز به جابجایی استاد و یا دانش آموز برای برقراری کلاس می باشد.
</p>

<h2>اشکالات کلاس آنلاین</h2>
<p>
1-ارتباط گرچه تصویری و تا حدود چهره به چهره است اما تاثیر زبان بدن ناچیز است چرا که معمولاً تصویر استاد در زمینه و کوچک است و دانش آموز توجه کمی به این تصویر دارد
.</p>
<p>
2-آوردن یک نمونه یا ارجاع به یک خط از یک کتاب و نشان دادن آن به دانش آموز بسیار مشکل است و نیاز به برنامه‌ریزی قبلی و اسکن و غیره دارد که معمولاً استاد در کلاس آنلاین از خیر آن می‌گذرد.
</p>
<p>
3-در کلاس آنلاین اختلالات ارتباطی مربوط به شبکه اینترنت، درست عمل نکردن نرم‌افزار، مشکلات مربوط به سخت افزار از جمله پایین بودن سرعت تجهیزات کامپیوتر موبایل و کیفیت دوربین و نور و غیره به وجود می‌آید که بر روی روند یادگیری تاثیر منفی دارند.
</p>

      </article>
{#      <aside class="text-center">#}
{#        <h2>مطالب مرتبط</h2>#}
{#        <ul >#}
{#            <li ><a href="{% url 'show_blog' 2 %}">مزیت ها و معایب آموزش آنلاین</a></li>#}
{#        </ul>#}
{#      </aside>#}

<footer>

  <p>استادباز</p>
</footer>

{% endblock %}
