{% extends 'forum/base.html' %}
{% load hitcount_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center mb-5">
        <h1>{{ post.title }}</h1>
        <p>موضوع:{{ post.syllabus }}</p>
        <div class="info">
            <p>{{ post.author_name }}</p>
            {% if teacher  %}
                <a href="{{ teacher.get_absolute_url }}">
                    <img class="rounded-circle" style="width: 15%;" src="{{ teacher.image.url }}" alt="{{ teacher.last_name }}-{{ teacher.syllabus }}" />
                    <span class="small"> {{ teacher.last_name }}<br>استاد مورد تایید استادباز
                    </span>
                </a>
            {% endif %}
                <p>{{ post.publish|date:"Y/m/d" }}</p>
                <p>views: {% get_hit_count for post %}</p>
           {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                <span id="total_likes">{{ total_likes }}</span>
                like{{ total_likes|pluralize }}
                <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like">
                   {% if request.user not in users_like %}Like{% else %}Unlike{% endif %}
                </a>
            {% endwith %}
        </div>
        <p>{{ post.body|linebreaks }}</p>
        <div class=" row  text-center">
        {% if post.post_image %}<img  class=" col-lg-6  img-fluid  " src="{{ post.post_image.url }}">{% endif %}
        </div>
    </div>
    <a   href="{% url 'forum:post_comment' post.id  %}" class="btn btn-success text-right" >پاسخ دهید</a>
    <div class="bg-white mb-3 "dir="rtl">
        <h4 class="px-3 py-4 op-5 m-0 ">پست های مشابه</h4>
        <hr class="m-0">
        {% for similar_post in similar_posts %}
         <div class="pos-relative px-3 py-3" >
             <h6 class=" text-sm">
             <a href="{{ similar_post.get_absolute_url }}" >{{ similar_post.title }}:</a>
             <p class="small text text-secondary"> {{ similar_post.body|truncatewords:8 }} </p>
                </h6>
              </div>
         {% empty %}پست مشابهی موجود نیست.
         {% endfor %}
    </div>
    <hr>
    <div dir="rtl" class="small">
        {% with comments.count as total_comments %}
        <h2>پاسخ ها:
        {{ total_comments }}
        </h2>
        {% endwith %}
        <hr>
        {% for comment in comments.all %}
            {% if not comment.comment_comments.all  %}
                <div class="text-secondary">
                    <p>{{ comment.name }}:</p>
                    <p>{{ comment.body|linebreaks }} </p>
                    {% if comment.contact.all %}
                        {% for comment_to in comment.contact.all %}
                            <p>{{ comment_to.name }}:  {{ comment_to.body }}</p>
                        {% endfor %}
                    {% endif %}
                <div dir="ltr">
                    <a  href="{% url 'forum:comment_comment' post.id comment.id %}" class="button " >پاسخ دهید</a></div>
                </div>
            {% endif %}
             <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}


 {% block domready %}
 const url = '{% url "forum:post_like" %}';
 var options = {
 method: 'POST',
 headers: {'X-CSRFToken': csrftoken},
 mode: 'same-origin'
     }
 document.querySelector('a.like')
 .addEventListener('click', function(e){
 e.preventDefault();
 var likeButton = this;

      // add request body
 var formData = new FormData();
 formData.append('id', likeButton.dataset.id);
 formData.append('action', likeButton.dataset.action);

 options['body'] = formData;
 // send HTTP request
 fetch(url, options)
 .then(response => response.json())
 .then(data => {
 if (data['status'] === 'ok')
 {
      var previousAction = likeButton.dataset.action
     // toggle button text and data-action
 var action = previousAction === 'like' ? 'unlike' : 'like';
 likeButton.dataset.action = action;
 likeButton.innerHTML = action;
 // update like count
 var likeCount = document.querySelector('#total_likes');
 var totalLikes = parseInt(likeCount.innerHTML);
 likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 :
totalLikes - 1;
 }
 })
 });
{% endblock %}

{#</script>#}
