
{% extends 'accounts/_base.html' %}
{% load static %}
{% block contents %}
 <div class="container p-4">
    <div class="mbr-section-head text-center">
        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-6">
            <strong> مشخصات استاد</strong></h4>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="points">
            <label  id="label_points"   for="points-form7-v" class="label ">امتیاز استاد  {{ teacher_selected.points }}از 5
            <div class="progress">
                <div id="points_progress_bar" class="progress-bar  " style="width: 50%" >
                </div>
        </div>
        </label>
    </div>
    <div class=" d-flex   align-items-center row bg-secondary ">
        <div class="  col-lg-3 col-md-3 col-sm-12" >
            <img  src="{{ teacher_selected.image.url }}"  id="teacher_image" class="img-thumbnail">
        </div>
{% if teacher_selected.sample_video %}
        <div class="embed-responsive embed-responsive-4by3  col-lg-3 col-md-3 col-sm-12 " >

             <video class="embed-responsive-item " src="{{ teacher_selected.sample_video.url }}" controls

             poster = {% static 'accounts/images/poster.PNG' %}></video>
        </div>
{% endif %}
        <div class="   col-lg-5 col-md-5 col-sm-12 m-2    " >
            <textarea class="form-control text-right " id="exampleFormControlTextarea1" disabled rows="6" dir="rtl" style="font-size: small">

                {{ teacher_selected.qualification }}
            </textarea>
        </div>
    </div>
    <div class=" col justify-content-center">
        <table class="table table-striped ">
            <thead>
        {% if student_category == 'آرایش و زیبایی' or student_category == 'آشپزی' or student_category == 'هنرهای تجسمی' or student_category == 'سینما و بازیگری' or student_category == 'کارهای فنی' %}
            <tr>
                <th ><sub>نام استاد</sub></th>
                <th><sub>موضوع تدریس</sub></th>
                <th>  <sub>سابقه تدریس</sub></th>
                <th><sub>تعداد نفرات کلاس</sub> </th>
                <th><sub>تعداد روز و ساعت </sub></th>
                <th><sub>کل مبلغ دوره</sub></th>
            </tr>
            </thead>
            <tr>
                <td><sub> {{ teacher_selected.first_name }}  {{ teacher_selected.last_name }}</sub></td>
                <td><sub>{{ teacher_selected.syllabus.syllabus_name }}</sub></td>
                <td><sub>{{ teacher_selected.experience }}</sub></td>
                <td><sub>{{ teacher_selected.workshop_number }}</sub></td>
                <td><sub>{{ teacher_selected.workshop_detail }}</sub></td>
                <td><sub>{{ teacher_selected.workshop_price }}</sub></td>
            </tr>
        {% else %}
            <tr>
                <th><sub>نام استاد </sub></th>
                <th><sub>موضوع تدریس</sub></th>
                <th> <sub>سابقه تدریس </sub></th>
                <th><sub>هزینه کلاس هر ساعت </sub></th>
            </tr>
            </thead>
            <tr>
                <td><sub> {{ teacher_selected.first_name }}  {{ teacher_selected.last_name }}</sub></td>
                <td><sub>{{ teacher_selected.syllabus.syllabus_name }}</sub></td>
                <td><sub>{{ teacher_selected.experience }}</sub></td>
                <td><sub>{{ teacher_selected.price_range.price_range_name }}</sub></td>
            </tr>
            {% endif %}
        </table>
    </div>
 </div>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <a href="{% url 'accounts:site_laws' %}" class="p-4">  قوانین سایت </a><br><br>
        <form class=" text-center" action="{% url 'teachme:teacher_request' teacher_selected.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="teacher_selected_id" value="{{ teacher_selected.id }}">
            <input type="hidden" name="student_user_id" value="{{ student_user_id }}">
           <a > <button type="submit" id="submit_form" class="btn btn-primary " >پذیرفتن قوانین سایت و ثبت درخواست استاد </button></a>
        </form><br><br>
        <form action="{% url 'accounts:student_edit' %}" method="post">
            <input type="hidden" name="category_from_detail" value="{{ teacher_selected.category }}">
            <input type="hidden" name="syllabus_from_detail" value="{{ teacher_selected.syllabus }}">
            <input type="hidden" name="price_range_from_detail" value="{{ teacher_selected.price_range.price_range }}">
            <input type="hidden" name="city_from_detail" value="{{ teacher_selected.city }}">
            <input type="hidden" name="learn_type_from_detail" value="{{ teacher_selected.learn_type }}">
            <input type="submit" class="btn btn-dark"  value="بازگشت به لیست"   ><br><br>
        </form>

    </div>
 </div>
<script src="{% static 'accounts/assets/bootstrap/js/jquery-3.5.1.min.js' %}"></script>

    <script>
     function points_progress(p) {

         var points_ratio = p / 5;
         var w = points_ratio * 100 + '%';
         var bg_color;
         var bg = points_ratio * 350 - 80;
         bg_color = 'hsl(' + bg + ', 90%,43%)';
         $('#points_progress_bar').css('width', w).css('background-color', bg_color);
     }
     points_progress({{ teacher_selected.points }})
    </script>

{% endblock %}


