{% load static %}

{% for teacher in teachers %}
      <div class="column card col-sm-12 col-md-6 col-lg-4">
            <div class="dev">
              <a href="{% url 'teachme:teacher_detail' teacher.id   %}" class="card__body" style="text-decoration: none; color: #737373">
                <div class="dev__profile d-flex">
                  <img class="avatar avatar--lg "  src="{{ teacher.image.url }}" alt="{{ teacher.last_name }}" />
                  <div class="dev__meta p-5">
                      <h4 > {{ teacher.first_name }} {{ teacher.last_name }}</h4>
                 <h6>({{ teacher.city_id }})</h6>


                  </div>
                </div>
               <ul class="">
                <li  class="text-right "> {{ teacher.qualification|truncatewords:20 }} </li>
    <li  class="text-right "> امتیاز : {{ teacher.points|floatformat:2 }} از 5</li>

                <li  class="text-right  "> {{ teacher.experience }}سال سابقه تدریس </li>
                <li  class="text-right ">
                    {% if teacher.learn_type == 0 %}آنلاین یا حضوری{% endif %}
                            {% if teacher.learn_type == 1 %}آنلاین{% endif %}
                            {% if teacher.learn_type == 2 %} حضوری{% endif %}
                </li>
                 <li  class="text-right "> کلاس {{ teacher.workshop_number }} {{ teacher.workshop_detail }} </li>
                <li  class="text-right ">  {{ teacher.workshop_price }}  </li>

            </ul>
                <div class="dev__skills">
                {% if teacher.likes %}
                  <span class="tag tag--pill tag--main">
                     {{ teacher.likes }} &nbsp; &nbsp; <i class="fa fa-thumbs-up " aria-hidden="true"  ></i>
                  </span>
                {% endif %}
                {% if teacher.dislikes %}
                  <span class="tag tag--pill tag--main">
                    {{ teacher.dislikes }} &nbsp;&nbsp;  <i class="fa fa-thumbs-down" aria-hidden="true"  ></i>
                  </span>
                {% endif %}
                     {% if teacher.comment_num %}
                  <span class="tag tag--pill tag--main">
                   {{ teacher.comment_num }}&nbsp; نظر
                  </span>
                    {% endif %}
                </div>
                </a>
            </div>
     </div>

 {% endfor %}