

  {% if results or results_teachers %} {% else %}
    <div class="bg-dark text-center m-3" id="teacher_title_div">

{#    <p class=" text-white p-3 "> جمعی از اساتید استادباز :</p>#}
    </div>
{% endif %}
<div class=" col-lg-4 col-md-6 col-sm-12 text-center mt-1 " id="teacher_div">
    {% for teacher in teachers %}
        <div class="border text-center m-3 rounded ">
            <a href="{% url 'teachme:teacher_detail' teacher.id   %}"><img style="max-width:25%; " src="{{ teacher.image.url }}"></a>
            <p style="word-break: break-word" class="small">
                <a class="" href="{% url 'teachme:teacher_detail' teacher.id   %}">{{ teacher.first_name }} {{ teacher.last_name }}
                ( {{ teacher.syllabus.syllabus_name }}) {{ teacher.city_id }}</a></p>


     <p  style="color: #7c7c7c; font-size: 14px; ">
         <a href="{% url 'teachme:teacher_detail' teacher.id   %}">   {{ teacher.likes }}   <i class="fa fa-thumbs-up " aria-hidden="true"  ></i> &nbsp &nbsp, &nbsp
   {{ teacher.dislikes }}   <i class="fa fa-thumbs-down" aria-hidden="true"  ></i> &nbsp &nbsp
             {% if teacher.comment_num %},{{ teacher.comment_num }} نظر {% endif %}</a></p>

            <ul>
                <li style="word-break: break-word" class="text-right small"> {{ teacher.qualification|truncatewords:15 }} </li>
                <li style="word-break: break-word" class="text-right small"> {{ teacher.experience }}سال سابقه تدریس </li>
                <
                li style="word-break: break-word" class="text-right small"> امتیاز:{{ teacher.points|floatformat:2 }} </li>
            {% if teacher.category_id == 'آرایش و زیبایی' or teacher.category_id == 'آشپزی' or teacher.category_id == 'هنرهای تجسمی' or teacher.category_id == 'سینما و بازیگری' or teacher.category_id == 'کارهای فنی' %}
                 <li style="word-break: break-word" class="text-right small"> ورکشاپ {{ teacher.workshop_number }} {{ teacher.workshop_detail }} </li>
                <li style="word-break: break-word" class="text-right small">  {{ teacher.workshop_price }}  </li>
            {% else %}
                <li style="word-break: break-word" class="text-right small"> ساعتی {{ teacher.price_range.price_range_name }} هزار تومان </li>
            {% endif %}

            </ul>
        </div>
    {% endfor %}
</div>
</div>
