

{% if now_commented %}
    <div class=" alert alert-info">
        <p >Your comment has been submitted and will publishwd after confirmation.</p>

        <p><a href="{% url 'forum:post_detail' post.slug %}" class="btn btn-success">Back to post</a></p>
    </div>
{% else %}
<div class="">
        <form method="post" class="form-control" >
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="submit"></p>
        </form>
    </div>
{% endif %}