{% extends 'forum/base.html' %}

{% block title %}Iman Blog{% endblock %}

{% block content %}
<div id="post-list">
    {% for post in page_obj.object_list %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </h2>
        {% with total_likes=post.users_like.count %}
        <p class="info">{{ total_likes }} like{{ total_likes|pluralize }}</p>
        {% endwith %}
        <p class="tags">Tags:
        {% for tag in post.tags.all %}
        <a href="{% url "forum:post_list_by_tag" tag.slug %}">
            {{ tag.name }}
        </a>
        {% if not forloop.last %} , {% endif %}
    {% endfor %}
        </p>
        <p class="date">
        published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:35|linebreaks }}
        </div>
    {% endfor %}

{% endblock %}


{% block domready %}
  var page = 1;
  var emptyPage = false;
  var blockRequest = false;

  window.addEventListener('scroll', function(e) {
    var margin = document.body.clientHeight - window.innerHeight - 200;
    if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
      blockRequest = true;
      page += 1;

      fetch('?page=' + page)
      .then(response => response.text())
      .then(html => {
        if (html === '') {
          emptyPage = true;
        }
        else {
          var imageList = document.getElementById('post-list');
          imageList.insertAdjacentHTML('beforeEnd', html);
          blockRequest = false;
        }
      })
    }
  });

  // Launch scroll event
  const scrollEvent = new Event('scroll');
  window.dispatchEvent(scrollEvent);
{% endblock %}