
            <div class="u-container-style u-list-item u-palette-2-base u-radius-20 u-repeater-item u-shape-round u-list-item-2" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h5 class="u-align-right u-text u-text-3" >ایمیل</h5>
                <p class="u-align-center u-text u-text-4" >ostadbazir@gmail.com</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-2-base u-radius-20 u-repeater-item u-shape-round u-list-item-3" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h5 class="u-align-right u-text u-text-5" >آدرس</h5>
                <p class="u-align-center u-text u-text-6" >تهران - تهران پارس -خیابان 176 شرقی پلاک 21</p>
              </div>