{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<style>
.roll_anim
    {
  animation-name: example;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}
    @keyframes example {
100% {
        margin-top: -5em;
    }
}
.not-visible{display: none;}
.visible{display: block;}

li{font-size: 18px;color: black;}
</style>
<head dir="rtl">
    <title> کلاس خصوصی ورکشاپ فنی و هنری استادباز </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset=utf-8>
    <link rel="stylesheet" href="{% static "accounts/assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "accounts/assets/farsi/farsi.css" %}">
    <link rel="stylesheet" href="{% static 'accounts/fa5/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/fa5/css/v4-shims.css' %}">

</head>

<nav class="  navbar navbar-expand-lg navbar-dark   bg-dark  ">
<p class="text-right text text-white small">سوالی دارید؟تماس بگیرید یا پیام دهید: 09361164819</p>
    <div class="container justify-content-start text-right">
       <a class="  "  href="{% url 'accounts:index_accounts' %}"> <img class="img-fluid pr-2" src="{% static 'accounts/images/logo1.png' %}"> </a>

       <button class="navbar-toggler " aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation" type="button" data-target="#navbar" data-toggle="collapse">
           <span class="navbar-toggler-icon"></span>
       </button>
           <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   <li><a  class="nav nav-link text text-white  " href="{% url 'accounts:index_accounts' %}"> صفحه اصلی   </a>
                   </li>
                   <li><a  id="user_key"  class="nav nav-link  text text-white "
                                 href=" {% if user.is_authenticated %}{% url 'accounts:profile_edit' %}
                                        {% else %}{% url 'accounts:login_view' %}{% endif %}" >
                       {% if user.is_authenticated %}  نمایه کاربری {{ user }}{% else %}ورود و  ثبت نام{% endif %}
                       </a>
                   </li>
{#                    <li ><a href="#" class="nav nav-link text textr-white  "><i class="fas fa-support "></i> پشتیبانی</a></li >#}
{#                    <li ><a href="{% url 'accounts:teacher_edit' %}" class="nav nav-link text text-white  "> ثبت نام اساتید</a></li >#}

                    <li ><a href="{% url 'show_blog' 1 %}" class="nav nav-link text text-white  "><i class="fas fa-blog "></i> مجله </a></li >
                    <li class="nav-item dropdown">
                        <a class="nav-link  text text-white" id="dropdown-1" aria-expanded="false" href="{% url 'accounts:contact_us' %}" ><i class="fas fa-phone "></i>   تماس با ما</a>
                    </li>
               {% if  user.is_authenticated %}
                    <li   >
                        <a class="nav nav-link text text-white " href="{% url 'accounts:logout_view' %}" >خروج</a>
                    </li>
               {% endif %}
               </ul>
           </div>
        <form class="   " action="{% url 'accounts:search_view' %}" method="get" >

            <input class="  " aria-label="Search" type="search" placeholder=" جستجوی موضوع،استاد..." name="search_text">
            <button type="submit" class=" " ><i class='fa fa-search ' ></i></button>

        </form>
    </div>
</nav>

{% block title %}{% endblock %}
<body >


<div class="text-right alert ">
{% include "accounts/messages.html" %}
    <ul>
    {% for result in results %}
        <li>{{ result }} </li>
    {% endfor %}
    </ul>
    <p class="alert ">{{ search_message }}</p>

    <ul>
    {% for teacher_result in results_teachers %}
        <li><a href="{% url 'teachme:teacher_detail' %}?teacher_id={{ teacher_result.id }}">
            {{ teacher_result.first_name }} {{ teacher_result.last_name }} {{ teacher_result.syllabus }} {{ teacher_result.experience }} سال سابقه
                </a></li>
    {% endfor %}
    </ul>
</div>

    {% block contents %}{% endblock %}

</body>
    {% block footer %}


    {% endblock %}
<script src="{% static 'accounts/assets/bootstrap/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'accounts/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'accounts/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'accounts/assets/dropdown/js/nav-dropdown.js' %}"></script>
<script src="{% static 'accounts/assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'accounts/assets/bootstrap/js/jquery.touch-swipe.min.js' %}"></script>
<script src="{% static 'accounts/fa5/js/all.min.js' %}"></script>
<script src="{% static 'accounts/accounts.js' %}"></script>

{% if user.is_authenticated %}
    <script >
        $(document).ready(function () {
            $("#user_key").css('background-color', '#f67e7d')
        })
    </script>

{% endif %}
</html>