{% extends 'accounts/_base.html' %}
{% load static %}
{% block title %}
<div class="row ">
    <div class="container ">
       <div class="col text-center"> <br>
            <video id="record_help_video"  src="{% static 'accounts/video_record_help.mp4' %}" class="col-lg-6 col-md-12 col-sm-12 "controls  ></video><br>
              <a href="https://soft98.ir/multi-media/screen-capture/15117-apowerrec.html">لینک نرم افزار ضبط صدا و تصویر صفحه کامپیوتر</a><br><br>
            <button class="btn btn-primary" onclick="history.back()">بازگشت</button>
       </div>
    </div>
</div>
{% endblock %}