{% extends 'accounts/_base.html' %}
{% load static %}
{% block title %}
<div class="row ">
    <div class="container ">
       <div class="col text-right">
           <h4>نحوه معرفی شاگرد به معلم و میزان پرداخت معلم به سایت:</h4>
           <p>پس از درخواست شما توسط شاگرد در سایت ، ما با شما و شاگرد تماس می گیریم و جلسه اول را هماهنگ می کنیم . اگر شاگرد از تدریس شما راضی بود مبلغ یک ساعت اول را پرداخت می کند و قرار بر ادامه کلاس می گذارد و در غیر اینصورت می تواند بدون پرداخت هیچ وجهی انصراف دهد.<
           در مورد کلاس هایی که مبلغ بصورت دوره ای یکجا پرداخت می شود هم شاگرد یک ساعت اول را رایگان در دوره شرکت می کند و اگر پسندید مبلغ دوره را به استاد یا موسسه مورد نظر پرداخت می کند.<
           کلیه پرداخت ها توسط شاگرد مستقیما به استاد انجام می شود و سایت هیچ مبلغی از شاگرد دریافت نمی کند.</p>
           در صورت پرداخت جلسه اول یا مبلغ کل دوره توسط شاگرد،برای کلاس های دوره ای  مبلغ 500 هزار تومان و برای کلاس های جلسه ای معادل  مبلغ یک جلسه  بابت معرفی توسط استاد یا موسسه  به حساب سایت استادباز واریز می کند . <
          اینکه کلاس چند جلسه دیگر ادامه می یابد یا مبلغ کل دوره چقدر می شود به سایت مربوط نیست و استاد دیگر هیچ وجهی به سایت پرداخت نمی کند </p>
           <br>

            </div>
    </div>

</div>
<script>
 function element_viewer(id) {
     var el1 = $('#'+id)
     el1.removeClass('d-none')

 }
</script>
{% endblock %}