{% extends 'accounts/_base.html' %}
{% load static %}
{% block title %}
    <head xmlns="http://www.w3.org/1999/html">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-224804857-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-224804857-1');
</script>

    </head>
<header>

    <div  class="content border-secondary  border-top text-center pt-4 " style="height: 100px; background-color:#9fcdff  ">

        <h1 id="title_1" style="font-size: x-large;" > سامانه معرفی استاد و کلاس استادباز   </h1>
        <h1 id="title_2" style="font-size: xx-large; display: none;" >  ساعت اول کلاس ها رایگان  </h1>
        <h1 id="title_3" style="font-size: xx-large; display: none;" > معرفی استاد(رایگان) </h1>
        <h2 id="title_4" style="display: none;font-size: x-large; ">معرفی کلاس های آموزشی (رایگان)</h2>

    </div><br>
    <div class="text-center">
        <img src="{% static 'accounts/images/استادباز-معرفی کلاس و استاد.jpeg' %}" class="img-fluid" alt="سامانه معرفی استاد و کلاس استادباز">
        </div>
</header>

<div class="text-center m-3 "><button class="btn btn-dark"><a href="{% url 'accounts:consult_view' %}" class="text-white" >درخواست مشاوره تلفنی</a> </button> </div>

{% endblock %}
{% block contents %}
<div class="align-center container  ">
    <div class="row justify-content-center text-center">
        <div class="col-12   " dir="rtl">
          <a href="{% url 'accounts:how_use' %}" class="  "><sub> <i class="fa fa-question" ></i>راهنمای اساتید</sub></a>

            <div class="mbr-section-btn mt-1  text text-center">
                <br>
                <a class="btn btn-primary "  {% if user.is_authenticated %} hidden {% endif %} href="{% url 'accounts:teacher_edit' %}"> &nbsp;ثبت نام اساتید&nbsp;
                <i class="fas fa-user" ></i>
                </a>
                <a class="btn btn-primary " {% if user.is_authenticated %} hidden {% endif %}  href="{% url 'accounts:login_view' %}">&nbsp; &nbsp; ورود اساتید&nbsp; &nbsp;<i class="fas fa-chalkboard-teacher" ></i>&nbsp;</a>
                <a class="btn btn-primary " {% if  user.is_authenticated == False %} hidden {% endif %}  href="{% url 'accounts:teacher_edit' %}">&nbsp; &nbsp; تغییر/ثبت مشخصات استاد&nbsp; &nbsp;<i class="fas fa-chalkboard-teacher" ></i>&nbsp;</a>
            </div>
        </div>
    </div>
</div><hr>
<div class=" container ">
    <div class=" row  justify-content-center ">

        <div class=" col-lg-4 col-md-6 col-sm-12 text-center mt-1 {% if teacher_makeup_count is 0 %}d-none{% else %}d-block{% endif %}">
            <section>
                <div >
                    <a href="{% url 'accounts:beauty_trainings' %}"> <img src="{% static 'accounts/images/makeup.png' %}" alt="آموزش آرایشگری" ><br>
                    <h6 class="text-dark"> آموزش آرایش و زیبایی</h6>
                    <p class="text-dark"> {{ teacher_makeup_count }} استاد</p>
                    </a>
                </div>

            </section>
        </div>

        <div class=" col-lg-4 col-md-6 col-sm-12 text-center mt-1 {% if teacher_music_count is 0 %}d-none{% else %}d-block{% endif %}">
            <section>
                <div >
                    <a href="{% url 'accounts:music_trainings' %}"> <img src="{% static 'accounts/images/music.png' %}" alt="آموزش آرایشگری" ><br>
                    <h6 class="text-dark"> آموزش موسیقی</h6>
                    <p class="text-dark"> {{ teacher_music_count }} استاد</p>
                    </a>
                </div>
            </section>
        </div>
        <div class=" col-lg-4 col-md-6 col-sm-12 text-center mt-1 {% if teacher_language_count is 0 %}d-none{% else %}d-block{% endif %}">
                <section>
                    <div >
                        <a href="{% url 'accounts:language_trainings' %}"> <img src="{% static 'accounts/images/language.png' %}" alt="آموزش زبان" ><br>
                        <h6 class="text-dark"> آموزش زبان های خارجی</h6>
                        <p class="text-dark"> {{ teacher_language_count }} استاد</p>
                        </a>
                    </div>
                </section>
        </div>

        <div class=" col-lg-4 col-md-6 col-sm-12 text-center mt-1 {% if teacher_high_school_count is 0 %}d-none{% else %}d-block{% endif %}">
                <section>
                    <div >
                        <a href="{% url 'accounts:high_school_trainings' %}"> <img src="{% static 'accounts/images/high-school.png' %}" alt="آموزش متوسطه دوم و کنکور" ><br>
                        <h6 class="text-dark"> آموزش متوسطه دوم و کنکور</h6>
                        <p class="text-dark"> {{ teacher_high_school_count }} استاد</p>
                        </a>
                    </div>
                </section>
        </div>

            <div class=" col-lg-4 col-md-6 col-sm-12 text-center mt-1 {% if teacher_mid_school_count is 0 %}d-none{% else %}d-block{% endif %}">
                <section>
                    <div >
                        <a href="{% url 'accounts:mid_school_trainings' %}"> <img src="{% static 'accounts/images/mid-school.png' %}" alt="آموزش متوسطه اول" ><br>
                        <h6 class="text-dark"> آموزش متوسطه اول</h6>
                        <p class="text-dark"> {{ teacher_mid_school_count }} استاد</p>
                        </a>
                    </div>
                </section>
        </div>

{% include 'accounts/best_teacher_view.html' %}
{% endblock %}

{% block footer %}


<script>
    var m=1;
    var n=2;
    var p=3;
    var q=4;
    function change_title(m,n,p,q){
         $('#title_'+m).css('display','block')
         $('#title_'+m).addClass("roll_anim")
         $('#title_'+n).css('display','none')
         $('#title_'+p).css('display','none')
         $('#title_'+q).css('display','none')
         $('#title_'+q).css('display','none')
     };
    ;
         setInterval(function(){
             change_title(m,n,p,q)
             m++
             n++
             p++
             q++
             if (m>4){m=1}
             if (n>4){n=1}
             if (p>4){p=1}
             if (q>4){q=1}
              },4000);
    function avail_list_toggle(list_name) {
        $("#"+list_name).toggle()

        window.scrollBy(0, 100);
    }
</script>
{% endblock %}