{% extends 'accounts/_base.html' %}
{% load static %}

{% block title %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-224804857-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-224804857-1');
    </script>
    <title>معرفی استاد آموزش آرایشگری استادباز</title>
</head>
<header>
{% include 'accounts/title_anim_inc.html' %}
</header>
{% endblock %}
{% block contents %}


<div class="text-center m-3 "><button class="btn btn--sub"><a href="{% url 'accounts:consult_view' %}" class="text-white" >درخواست مشاوره تلفنی</a> </button> </div>
<hr>


<div class=" container ">
    <div class="pic_container  ">
        <img class="border" src="{% static 'images/language-trainings.jpg' %}" alt="Norway" style="width:100%; border-radius: 10px">
        <div class="text-block text-right">
            <h6 class="text-secondary font-weight-bold" >  زبان های خارجی</h6>
{#            <p class="text-secondary font-weight-bold"> {{ teacher_makeup_count }} استاد</p>#}
         </div>
    </div>

    <div id="high_school_available_teachers " style="display: block ;">
        <ul  class="list-group d-lg-inline-flex"  >
            {% for teacher_count in teacher_counts %}
                <li class='badge badge-pill p-2 mt-4' style="background-color: #51546e;font-size: medium">
                {% for syll_count in teacher_count%}
                    {% if  syll_count in syllabuses_language  %}
                         <a  href="{% url 'teachme:teacher_list'  %}?cat=زبان های خارجی&syl={{syll_count}}">
                    {% endif %}
                    <span class="text-white">{{ syll_count }}
                {% endfor %}استاد</span>
                         </a>
                </li>
            {% endfor %}
        </ul>
    </div><br>
</div>

<div class=" container ">
<div class="badge badge-dark  w-100  " style="border-radius: 5px;font-size:large">
    <strong class="text-white" >جمعی از اساتید</strong></div>

{% include 'teachme/teacher_viewer_for_teacher_list_inc.html' %}
</div>
{% endblock %}
{% block footer %}
<script>
    var m=1;
    var n=2;
    var p=3;
    var q=4;
    function change_title(m,n,p,q){
         $('#title_'+m).css('display','block')
         $('#title_'+m).addClass("roll_anim")
         $('#title_'+n).css('display','none')
         $('#title_'+p).css('display','none')
         $('#title_'+q).css('display','none')
         $('#title_'+q).css('display','none')
     };
    ;
         setInterval(function(){
             change_title(m,n,p,q)
             m++
             n++
             p++
             q++
             if (m>4){m=1}
             if (n>4){n=1}
             if (p>4){p=1}
             if (q>4){q=1}
              },4000);
</script>
{% endblock %}