{% extends 'accounts/_base.html' %}
{% load static %}

{% block contents %}



    <!-- Bootstrap core CSS -->
{#<link rel="stylesheet" href={% static "accounts/assets/bootstrap/css/bootstrap.css" %} >#}
{#<link rel="stylesheet" href={% static "accounts/assets/bootstrap/css/bootstrap.min.css" %} >#}
{#<link rel="stylesheet" href={% static "accounts/assets/bootstrap/js/bootstrap.min.js" %} >#}


<body class="  text-center">
<div class=" row justify-content-center pt-5 mt-5 ">

        <div  data-form-alert="" class="alert text-center alert-danger col-12 mbr-fonts-style align-center mb-0
             {% if  error  %} d-block {% else %}d-none {% endif %}d-none ">{{ error }}<br>

        </div>

    <form class="form-signin " method="post">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">ورود</h1>
        <label for="inputUsername" class="sr-only">ایمیل</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="ایمیل" name="username"
              oninvalid="setCustomValidity('لطفاً ایمیل را وارد کنید')" oninput="setCustomValidity('')"
              value="{{ username }}" required autofocus>
        <label for="inputPassword" class="sr-only">رمز عبور</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="رمز عبور" name="password" required
        oninvalid="setCustomValidity('لطفاً رمز عبور را وارد کنید')" oninput="setCustomValidity('')">
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button><br>
        <a href="{% url 'accounts:user_verify' %}"> <button class="btn btn-lg btn-info btn-block" type="button">ثبت نام</button></a>
        <br>
            <a href="{% url 'accounts:pass_reset' %}">بازیابی رمز عبور</a>

        <p class="mt-5 mb-3 text-muted">yasacademy&copy; 2020 </p>

    </form>
</div>
</body>





{% endblock %}
