{% extends 'accounts/_base.html' %}
{% load static %}

{% block contents %}
    <div class=" text-center  ">
    <textarea class="text-center small "  style="width: 400px; height: 600px" >
        مجموعه استادباز با تمرکز به ارزیابی مداوم کیفیت تدریس اساتید شکل گرفته است و تمام تلاش خود را در جهت احراز هویت دقیق و پالایش اخلاقی اساتید اعمال می کند اما هیچ گونه مسئولیتی در قبال رفتارها و اعمال و صحبت های اساتید در حین تدریس ودر خارج از ساعات تدریس به عهده نمی گیرد و هرگونه پیگیری قضایی مسائل مربوطه از عهده مجموعه خارج است البته بدیهی است درصورت گزارش و محرز شدن تخلف استاد مربوطه از لیست اساتید مجموعه حذف خواهد شد

برای کلاس های حضوری درخواست استاد خانم توسط آموزنده مرد  امکان پذیر نمی باشد.

مبلغ جلسه اول در صورت رضایت در پایان جلسه به استاد پرداخت می‌شود و درصورت عدم رضایت نیازی به پرداخت مبلغ نیست .

مبلغ حق التدریس پس از پایان هرجلسه به استاد پرداخت می‌شود.

    </textarea><br>
     <button class="btn btn-outline-secondary" onclick="goBack()">بازگشت</button>
    </div>



<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}