{% extends 'accounts/_base.html' %}
{% load static %}
{% block contents %}

    <div class="container pt-5">
        <div class="mbr-section-head ">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0  text-center">
{#            if error means if authenticated#}
                <strong>{% if error %}تنظیمات جستجوی استاد {% else %}تنظیمات جستجوی استاد{% endif %}</strong></h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="">
                <form action="" method="POST" class="mbr-form form-with-styler mx-auto" >
                {% csrf_token %}
<!--                    <input type="hidden" name="email" data-form-email="true" value="1234">-->
<!--                       -->
<!--                    </p>-->
                    <div class="">
                        <div  data-form-alert="" class="alert text-center {% if  "successfully" in error  %} alert-success {% else %}alert-danger{% endif %} col-12 mbr-fonts-style align-center mb-0
                         {% if  error  %} d-block {% else %}d-none {% endif %}d-none ">{{ error }}</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group text-center" data-for="category">
                        <label for="category-form7-v">زیر موضوع تدریس :</label>
                            <select    name="category" onchange="show_confirm_key()" data-form-field="category" class="form-control"  id="category-form7-v">

                             {% for category in categories %}
                                  <option value="{{ category.category }}"
                                          {% if  student_profile.category.category == category.category %}selected{% endif %}
                                  >{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group text-center" data-for="syllabus">
                            <label for="syll">موضوع تدریس :</label>



                          <select  onchange="show_confirm_key() "  name="syllabus" data-form-field="syllabus" class="form-control"  id="syll">
{#
                            {% for syllabus in syllabuses %}
                                  <option value="{{ category.category }}"
                                          {% if  student_profile.syllabus.syllabus == syllabus.syllabus %}selected{% endif %}
                                  >{{ syllabus.syllabus_name }}</option>
                                {% endfor %}
                         </select>
                        </div>
{#                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" data-for="language">#}
{#                        <label for="language-form7-v" class="label">Language:</label>#}
{#                            <select  name="language" onchange="show_confirm_key()" data-form-field="language" class="form-control"  id="language-form7-v">#}
{#                                {% for language in languages %}#}
{#                                  <option value="{{ language.language }}"#}
{#                                          {% if  student_profile.language.language == language.language %}selected{% endif %}#}
{#                                  >{{ language.language_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group text-center" data-for="price_range">
                            <label for="price-form7-v">محدوده قیمت :</label>
                            <select  name="price_range" onchange="show_confirm_key()" data-form-field="price" class="form-control" id="price-form7-v">

                                {% for price_range in price_ranges %}
                                  <option value="{{ price_range.price_range }}"
                                          {% if  student_profile.price_range.price_range == price_range.price_range %}selected{% endif %}
                                  >{{ price_range.price_range_name }}</option>
                                {% endfor %}
                                </select>
                        </div>
                         <div class="col-lg-6 col-md-6 col-sm-12 form-group text-center" data-for="learn_type">
                            <label for="learn_type-form7-v">نوع آموزش :</label><br>
                            <select  name="learn_type" onchange="show_confirm_key()" data-form-field="experience" class="form-control"  id="learn_type-form7-v">
                                    <option value=0 selected>آنلاین یا حضوری</option>
                                    <option value=1>آنلاین </option>
                                    <option value=2>حضوری</option>
                            </select>

                    </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group text-center" data-for="city" id="city_div">
                            <label for="city-form7-v">شهر:</label>
                            <select  name="city" onchange="show_confirm_key()" data-form-field="city" class="form-control" id="city-form7-v">

                                {% for city in cities %}
                                  <option value="{{ city.city }}"
                                          {% if  student_profile.city.city == city.city %}selected{% endif %}
                                  >{{ city.city_name }}</option>
                                {% endfor %}
                                </select>
                        </div><br>

                        <div class="col-lg-6 col-md-6 col-sm-12  justify-content-center" >
                          <input  id="confirm_edit_key" type="submit" class="btn btn-dark " value="تایید تغییرات">

{#                         <a type="button" id="teacher_search_key" class="btn btn-danger  " href="{% url 'teachme:teacher_list' %}">پیدا کردن استاد</a>#}

                        </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
{% block footer %}
    <script src="{% static "accounts/assets/web/assets/jquery/jquery.min.js" %}"></script>


  <script type="text/javascript"  >

      function ajax_syllabus(){
       $("#syll").empty();

          $.ajax({
              url: "{% url 'accounts:student_edit' %}",
              contentType: "json",
              data: {
              category: $('#category-form7-v').val(),
              },
              success: function(result) {
                  var i;
                  for (i = 0; i<result.length; i++) {
                          optText = result[i]['syllabus_name'];
                          optValue = result[i]['syllabus'];
                          $('#syll').append(`<option value="${optValue}">${optText}</option>`);

                             if ( optValue=="{{ student_profile.syllabus }}"){
                                 $('#syll').val(optValue);
                             }
                  }
          }
          });

      }
    $(document).ready(function(){
        {% if error %}
        $('#teacher_search_key').css('display','block');
        $('#confirm_edit_key').css('display','none');
        {% else %}
        $('#teacher_search_key').css('display','none');
        $('#confirm_edit_key').css('display','block');
        {% endif %}
       {#$('#syll').empty();#}
       ajax_syllabus()
       $('#category-form7-v').change(function () {
           $('#syll').empty();
           ajax_syllabus()
        })
    })
     {# #}
      {% if student_profile.learn_type %}
        $("#learn_type-form7-v").val({{ student_profile.learn_type }})
     {% endif %}

  </script>
 <script src="{% static 'accounts/assets/accounts.js' %}"></script>
{% endblock %}
