{% extends 'accounts/_base.html' %}
{% load static %}
{% block contents %}

<div class="row ">
    <div class="container">
            <div class="mbr-section-head col-lg-6  col-md-12 col-sm-12 pl-5  " id="get_user_info">
                <h4 class="mbr-section-title mbr-fonts-style text-center mb-0 text-primary">
                    <strong> ثبت نام آموزنده</strong>
                </h4>
                <br>
                <div  data-form-alert="" class="alert text-center ">{% if message %}{{ message }}{% endif %}
                </div>
                <div  data-form-alert="" class="alert text-center ">{{ student_submit_form.errors }}
                </div>
            </div>
            <div class="col-lg-8 mx-auto mbr-form" >
                <form action="" id="stu_sub_form" name="stu_sub_form" method="POST" class="mbr-form form-with-styler mx-auto text-right" >
                {% csrf_token %}
                <label for="first_name">نام :</label>
                     <input name="first_name" id="first_name" class="form-control"><br>
                <label for="last_name" class="text-right">نام خانوادگی :</label>
                     <input name="last_name" id="last_name" class="form-control"><br>
                <label for="national_id">شماره ملی :</label>
                     <input name="national_id" id="national_id" class="form-control"><br>
                <label for="gender " class="inline_label" dir="rtl"> جنسیت :</label>
                    <select  name="gender" onchange="show_confirm_key()" data-form-field="gender" class="form-group"  id="">
                        <option value="1" selected>مرد</option>
                        <option value="2">زن </option>
                    </select><br>
                    <input  type="submit" class="btn btn-primary form-control" value="ثبت"/>

                </form>
            </div>
            </div>

    </div>



{% endblock %}
{% block footer %}
    <script src="{% static "accounts/assets/web/assets/jquery/jquery.min.js" %}"></script>


  <script type="text/javascript"  >

      function ajax_syllabus(){
       $("#syll").empty();

          $.ajax({
              url: "{% url 'accounts:student_edit' %}",
              contentType: "json",
              data: {
              category: $('#category-form7-v').val(),
              },
              success: function(result) {
                  var i;
                  for (i = 0; i<result.length; i++) {
                          optText = result[i]['syllabus_name'];
                          optValue = result[i]['syllabus'];
                          $('#syll').append(`<option value="${optValue}">${optText}</option>`);

                             if ( optValue=="{{ student_profile.syllabus }}"){
                                 $('#syll').val(optValue);
                             }
                  }
          }
          });

      }
    $(document).ready(function(){
        {% if error %}
        $('#teacher_search_key').css('display','block');
        $('#confirm_edit_key').css('display','none');
        {% else %}
        $('#teacher_search_key').css('display','none');
        $('#confirm_edit_key').css('display','block');
        {% endif %}
       {#$('#syll').empty();#}
       ajax_syllabus()
       $('#category-form7-v').change(function () {
           $('#syll').empty();
           ajax_syllabus()
        })
    })
     {# #}
      {% if student_profile.learn_type %}
        $("#learn_type-form7-v").val({{ student_profile.learn_type }})
     {% endif %}




  </script>

 <script src="{% static 'accounts/assets/accounts.js' %}"></script>
{% endblock %}
