{% extends "accounts/_base.html" %}
{% load static %}
{% block contents %}

    <div class="container p-4 " >
        <div class="mbr-section-head text-center">
            <h1 class="mbr-section-title mbr-fonts-style align-center mb-0 ">
                <strong>{% if error %}نمایه کاربری{% else %} مشخصات کاربری{% endif %}</strong></h1>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="dragArea row">
                <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="points">
                    <label  id="label_points"   for="points-form7-v" class="label ">امتیاز شما: {{ teacher_profile.points }} از 5
                        <div class="progress">
                            <div id="points_progress_bar" class="progress-bar  " >
                            </div>
                        </div>
                    </label>
                    <input type="hidden"   name="points"  data-form-field="points" id="points-form7-v"   {% if teacher_profile %} value={{ teacher_profile.points }} {% else %} value=3 {% endif %} >
                </div>

            </div>

        <div class="col-lg-8 mx-auto mbr-form " data-form-type="">
            <form action="" id="teacher_edit_form" name="teacher_edit_form" method="POST" class="mbr-form form-with-styler mx-auto" enctype="multipart/form-data">
                {% csrf_token %}
                 <div  data-form-alert="" class="alert text-center {% if  "successfully" in error  %} alert-success {% else %}alert-danger{% endif %} col-12 mbr-fonts-style align-center mb-0
                        {% if  error  %} d-block {% else %}d-none {% endif %}d-none ">{{ error }}<br>
                        {% if teacher_edit_form.errors.sample_video %} <span>خطا در بارگذاری ویدئو</span><br>
                            {{ teacher_edit_form.errors.sample_video }}
                        {% endif %}
                        {{ teacher_edit_form.errors.national_id }}
                        {{ teacher_edit_form.errors.national_card_image }}
                        {{ teacher_edit_form.errors.image }}
                        {{ teacher_edit_form.errors.image }}
تماس با پشتیبانی :09361164819
                 </div>

                <div class="col-lg-12 col-md-12 col-sm-12 form-group text-center" data-for="image">
                    <label for="degree_image">عکس خود را اینجا بارگذاری کنید :</label>
                    <input name="image"  id="image" type="file" onchange="show_confirm_key()" onfocus="image_upload_preview(this.id,'image_preview')"
                           onerror="this.style.display='none'" class="file-upload" {% if teacher_profile.image %}{% else %}required{% endif %}>
                    {% if teacher_profile.image %}
                        <img id="image_preview" src="{{ teacher_profile.image.url }} " class="img-rounded col-lg-6 col-md-6 col-sm-12"  >
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group" data-for="first_name">
                    <input type="text"  name="first_name" onchange="show_confirm_key()" placeholder="نام*"
                        data-form-field="first_name" class="form-control" id="first_name-form7-v" value="{{ teacher_profile.first_name }}" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group" data-for="last_name">
                    <input type="text"  name="last_name" onchange="show_confirm_key()" placeholder="نام خانوادگی*"
                        data-form-field="last_name" class="form-control" value="{{ teacher_profile.last_name }}"  id="last_name-form7-v" required>
                </div>
{#                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="national_id">#}
{#  <label for="national_id-form7-v ">     کد ملی * </label> <br><span class="small"> ( قابل مشاهده نیست و در اختیار کسی قرار نمی گیرد):</span>#}
{#                    <input type="text" onchange="show_confirm_key()" name="national_id" data-form-field="national_id" onkeyup="num_to_english(this.id)"#}
{#                        class="form-control"  value="{{ teacher_profile.national_id }}" id="national_id-form7-v" required>#}
{#                </div>#}
                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="learn_type">
                    <label for="learn_type-form7-v"> جنسیت :</label><br>
                    <select  name="gender" onchange="show_confirm_key()" data-form-field="gender" class="form-control"  id="gender-form7-v">
                        <option value=1>مرد </option>
                        <option value=2>زن</option>
                    </select>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="category">
                     <label for="category-form7-v">زیرگروه تدریس شما :</label>
                     <select name="category" onchange="show_confirm_key(),learn_type_based_view()" data-form-field="category" class="form-control" id="category-form7-v">
                          {% for category in categories %}
                               <option value="{{ category.category }}" {% if  teacher_profile.category.category == category.category %}selected{% endif %}>
                                   {{ category.category_name }}
                               </option>
                          {% endfor %}
                     </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="syllabus">
                    <label for="syll">موضوع تدریس شما :</label>
                    <select  onchange="show_confirm_key()" name="syllabus" data-form-field="syllabus" class="form-control "  id="syll">
                        {% if teacher_profile %}
                            <option selected value="{{ teacher_profile.syllabus.syllabus }}">{{ teacher_profile.syllabus.syllabus }}</option>
                        {% endif %}
                        {% if syllabuses %}
                            {% for syllabus in syllabuses %}
                                 <option value="{{ syllabus.syllabus}}">{{ syllabus.syllabus_name }}</option>
                            {% endfor %}
                        {% endif %}
                         </select>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="price_range" id="hourly_price_div">
                    <label for="price-form7-v" dir="rtl"> هزینه هرساعت کلاس شما  :</label>
                    <select  name="price_range"onchange="show_confirm_key()" data-form-field="price" class="form-control"  id="price-form7-v">
                        {% for price_range in price_ranges %}
                            <option dir="rtl" value="{{ price_range.price_range }}"
                                {% if  teacher_profile.price_range.price_range == price_range.price_range %}selected{% endif %} >{{ price_range.price_range_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                             <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right  d-none" id="workshop_number_div" data-for="price_range">
                    <label for="workshop_number" dir="rtl"> تعداد نفرات هر ورکشاپ  :</label>
                      <input   type="text" name="workshop_number" class="form-control" id="workshop_number" value="{{ teacher_profile.workshop_number }}"
                               placeholder="مثال: 3 تا 5 نفر" onchange="show_confirm_key()"  >
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right d-none " id="workshop_detail_div" data-for="price_range">
                        <label for="price-form7-v" dir="rtl"> ورکشاپ چند روزه است و هر روز چند ساعت؟:</label>
                        <input   type="text" name="workshop_detail" placeholder="مثال:3 روزه هر روز 8 ساعت" value="{{ teacher_profile.workshop_detail }}"
                            class="form-control" id="workshop_detail"    onchange="show_confirm_key()"  >

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right d-none " id="workshop_price_div" data-for="price_range">
                        <label for="price-form7-v" dir="rtl"> مبلغ کل  دوره(تومان) :</label>
                         <input   type="text" name="workshop_price" placeholder="مثال: 1 میلیون" value="{{ teacher_profile.workshop_price }}"
                            class="form-control" id="workshop_price"    onchange="show_confirm_key()"  >

                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="experience" >
                    <label for="experience-form7-v " class="inline_label" dir="rtl">سابقه تدریس :</label>
                    <select  name="experience" onchange="show_confirm_key()" data-form-field="experience" class="form-control"  id="experience-form7-v">
                        <option value="2" >۲ سال </option>
                        <option value="4">۴ سال </option>
                        <option value="6" selected>۶ سال </option>
                        <option value="8">۸ سال </option>
                        <option value="10">۱۰ سال </option>
                        <option value="12">۱۲سال </option>
                        <option value="14">۱۴ سال </option>
                        <option value="16">۱۶ سال </option>
                        <option value="18">۱۸ سال </option>
                        <option value="20">۲۰ سال و بیشتر</option>
                    </select>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group text-right" data-for="qualification">
                    <label for="qualification-form7-v" class="label small" > خود را برای مخاطب شرح دهید و جزییات دوره آموزشی را بنویسید* :</label>
                   <textarea   name="qualification" onchange="show_confirm_key()"
                        class="form-control" id="qualification-form7-v"  rows="5" maxlength="1000" onchange="show_confirm_key()" required >
                       {% if teacher_profile.qualification %}{{ teacher_profile.qualification }}{% endif %}
                    </textarea>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="learn_type">
                    <label for="learn_type-form7-v">نوع آموزش :</label><br>
                    <select  name="learn_type"  onchange="show_confirm_key(),hide_city_when_online()" data-form-field="experience" class="form-control"  id="learn_type-form7-v">
                        <option value=0 selected>آنلاین یا حضوری</option>
                        <option value=1>فقط آنلاین </option>
                        <option value=2>فقط حضوری</option>
                    </select>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="state  " id="state_div">
                    <label for="state-form7-v">استان:</label>
                    <select  name="state" onchange="show_confirm_key()" data-form-field="state" class="form-control" id="state-form7-v">
                        {% for state in states %}
                            <option value="{{ state.state }}"
                                {% if  teacher_profile.state.state == state.state %}selected{% endif %}>{{ state.state }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 form-group text-right" data-for="city" id="city_div">
                    <label for="city-form7-v">شهر:</label>
                    <select  name="city" onchange="show_confirm_key()" data-form-field="city" class="form-control" id="city-form7-v">
                        {% for city in cities %}
                            <option value="{{ city.city }}"
                                {% if  teacher_profile.city.city == city.city %}selected{% endif %}>{{ city.city_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

            <div class="col-lg-4 col-md-4 col-sm-12 form-group text-right" data-for="degree_image">
                    <label for="degree_image" class="small">عکس نمونه کار یا مدرک یا ...جهت جذب مخاطب1(اختیاری)  :</label>
                    <input name="degree_image" id="degree_image" type="file" onchange="show_confirm_key()"
                           onfocus="image_upload_preview(this.id,'degree_image_preview')" class="file-upload">
            {% if teacher_profile.degree_image %}
                    <img id="degree_image_preview" src="{{teacher_profile.degree_image.url}}
                        " class="img-rounded col-lg-6 col-md-6 col-sm-12" alt="{{ teacher_profile.category.category }}" >
            {% endif %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 form-group text-right" data-for="degree_image2">
                    <label for="degree_image2" class="small">عکس نمونه کار یا مدرک یا ...جهت جذب مخاطب2(اختیاری)  :</label>
                    <input name="degree_image2" id="degree_image2" type="file" onchange="show_confirm_key()"
                           onfocus="image_upload_preview(this.id,'degree_image2_preview')" class="file-upload">
            {% if teacher_profile.degree_image2 %}
                    <img id="degree_image_preview2" src="{{teacher_profile.degree_image2.url}} "
                         class="img-rounded col-lg-6 col-md-6 col-sm-12" alt="{{ teacher_profile.category.category }}" >
              {% endif %}
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 form-group text-right" data-for="degree_image3">
                    <label for="degree_image3" class="small">عکس نمونه کار یا مدرک یا ... جهت جذب مخاطب3(اختیاری)  :</label>
                    <input name="degree_image3" id="degree_image3" type="file" onchange="show_confirm_key()"
                           onfocus="image_upload_preview(this.id,'degree_image3_preview')" class="file-upload">
            {% if teacher_profile.degree_image3 %}
                    <img id="degree_image_preview3" src="{{teacher_profile.degree_image3.url}} "
                         class="img-rounded col-lg-6 col-md-6 col-sm-12" alt="{{ teacher_profile.category.category }}"  >
            {% endif %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 form-group text-right" data-for="degree_image4">
                    <label for="degree_image4" class="small">عکس نمونه کار یا مدرک یا ... جهت جذب مخاطب4(اختیاری)  :</label>
                    <input name="degree_image4" id="degree_image4" type="file" onchange="show_confirm_key()"
                           onfocus="image_upload_preview(this.id,'degree_image4_preview')" class="file-upload">
            {% if teacher_profile.degree_image4 %}
                    <img id="degree_image_preview4" src="{{teacher_profile.degree_image4.url}}
                        " class="img-rounded col-lg-6 col-md-6 col-sm-12" alt="{{ teacher_profile.category.category }}" >
            {% endif %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 form-group text-right" data-for="degree_image5">
                    <label for="degree_image5" class="small">عکس نمونه کار یا مدرک یا ... جهت جذب مخاطب5(اختیاری)  :</label>
                    <input name="degree_image5" id="degree_image5" type="file" onchange="show_confirm_key()"
                           onfocus="image_upload_preview(this.id,'degree_image5_preview')" class="file-upload">
            {% if teacher_profile.degree_image5 %}
                <img id="degree_image_preview5" src="{{teacher_profile.degree_image5.url}} "
                     class="img-rounded col-lg-6 col-md-6 col-sm-12" alt="{{ teacher_profile.category.category }}" >
            {% endif %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 form-group text-right" data-for="degree_image6">
                <label for="degree_image6" class="small">عکس نمونه کار یا مدرک یا ... جهت جذب مخاطب6(اختیاری)  :</label>
                <input name="degree_image6" id="degree_image6" type="file" onchange="show_confirm_key()"
                           onfocus="image_upload_preview(this.id,'degree_image6_preview')" class="file-upload">
            {% if teacher_profile.degree_image6 %}
                <img id="degree_image_preview6" src="{{teacher_profile.degree_image6.url}} "
                     class="img-rounded col-lg-6 col-md-6 col-sm-12" alt="{{ teacher_profile.category.category }}" >
            {% endif %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 form-group text-right" data-for="degree_image7">
                    <label for="degree_image7" class="small">عکس نمونه کار یا مدرک یا ... جهت جذب مخاطب7(اختیاری)  :</label>
                    <input name="degree_image7" id="degree_image7" type="file" onchange="show_confirm_key()"
                           onfocus="image_upload_preview(this.id,'degree_image7_preview')" class="file-upload">
            {% if teacher_profile.degree_image7 %}
                <img id="degree_image_preview7" src="{{teacher_profile.degree_image7.url}} "
                     class="img-rounded col-lg-6 col-md-6 col-sm-12" alt="{{ teacher_profile.category.category }}" >
              {% endif %}
            </div>
{#                <div class="col-lg-4 col-md-4 col-sm-12  text-right " data-for="sample_video">#}
{#                    <label for="sample_video">ویدیوی نمونه تدریس(حدود 5 دقیقه) :</label>#}
{#                    <input name="sample_video" id="sample_video" type="file" onchange="show_confirm_key() " class="-file-video"  >#}
{#                        {% if teacher_profile.sample_video %}#}
{#                            <video  src="{{ teacher_profile.sample_video.url }}" class="col-lg-6 col-md-12 col-sm-12 "controls></video>#}
{#                        {% endif %}#}
                <div  id="spinner-box" class="m-5 text-center  " style="display: none" >
{#                  <span>در حال بارگذاری . . . </span><br>#}
                    <div class="spinner-border ml-auto no" role="status" aria-hidden="true"></div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 form-group  text-center" >
                    <div><a href="{% url 'accounts:teacher_laws' %}">قوانین و نحوه پرداخت</a></div> <br>

                    <div class="alert alert-success"><p>لطفا یک یا چند ویدئو از نحوه تدریس خود به شماره واتساپ 09361164819 ارسال کنید تا در پروفایل شما قرار داده شود</p></div>

                    <input  id="confirm_edit_key" type="submit" onclick="show2(),window.scrollTo(0,document.body.scrollHeight);"
                            class="btn btn-primary  form-control" value="پذیرش قوانین و ثبت ">
                </div>
            </form>

        </div>

    </div>
</div>

{% endblock %}
{% block footer %}

<script src="{% static 'accounts/assets/bootstrap/js/jquery-3.5.1.min.js' %}"></script>
{#<script src="{% static 'accounts/assets/accounts.js' %}"></script>#}
<script type="text/javascript"  >
    function points_progress(p)
    {
        var points_ratio = p/5 ;
        var w = points_ratio *100 + '%';
        var bg_color;
        var bg = points_ratio*350-80;
        bg_color = 'hsl('+ bg +', 90%,43%)';
        $('#points_progress_bar').css('width', w).css('background-color', bg_color);
    }

    function ajax_syllabus()
    {
        $('#syll').empty();
        $.ajax({
            url: "{% url 'accounts:teacher_edit' %}",
            contentType: "json",
            data:
                {
                category: $('#category-form7-v').val(),
                },
            success: function(result) {
                var i;
                for (i = 0; i<result.length; i++) {
                optText = result[i]['syllabus_name'];
                optValue = result[i]['syllabus'];
                $('#syll').append(`<option value="${optValue}">${optText}</option>`);
                if ( optValue=="{{ teacher_profile.syllabus }}"){
                             $('#syll').val(optValue);
                }
                }
        }});
    }

    function ajax_city()
    {
        $('#city-form7-v').empty();
        $.ajax({
            url: "{% url 'accounts:teacher_edit' %}",
            contentType: "json",
            data:
                {
                state: $('#state-form7-v').val(),
                },
            success: function(result) {
                var i;
                for (i = 0; i<result.length; i++) {
                optText = result[i]['city_name'];
                optValue = result[i]['city'];
                $('#city-form7-v').append(`<option value="${optValue}">${optText}</option>`);
                if ( optValue=="{{ teacher_profile.city }}"){
                             $('#city-form7-v').val(optValue);
                }
                }
        }});
    }

    $(document).ready(function(){
            hide_city_when_online()
            learn_type_based_view()
            points_progress({{ teacher_profile.points }});
            {% if error %}
            $('#confirm_edit_key').css('display','none');
            {% else %}
            $('#confirm_edit_key').css('display','block');
            {% endif %}
            $('#confirm_edit_key').css('display','none');
            $('#syll').empty();
            ajax_syllabus()
            ajax_city()
            $('#category-form7-v').change(function () {
                ajax_syllabus()
            })
            $('#state-form7-v').change(function () {
                ajax_city()
            })
        })
        $("#category-form7-v").select(function(){
        $('#category-form7-v').empty();


        $.ajax({
            url: "{% url 'accounts:teacher_edit' %}",
            contentType: "json",
            data: {
                category_list: 1,
                  },
            success: function(result) {
                var i;
                for (i = 0; i<result.length; i++) {
                    optText = result[i]['category_name'];
                    optValue = result[i]['category'];
                    $('#syll').append(`<option value="${optValue}">${optText}</option>`);
                }
        }});
    })


    function show_confirm_key(){
        $('#confirm_edit_key').css('display','block');
    }

    function image_upload_preview(u,i) {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#'+i).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $('#' + u).change(function () {
            readURL(this);
        });
    }
    function showSpinner() {

        const spinnerBox = document.getElementById('spinner-box')
        const uploadForm = document.getElementById('teacher_edit_form')
        spinnerBox.css('display','block');
        {% if teacher_edit_form.errors %}
        {% else %}
        $.ajax({
            type: 'GET',
            url: uploadForm.action,
            success:function (response) {

                setTimeout(()=>{
                    spinnerBox.css('display','none');
                console.log('response',response);
                },500)
            },
            error: function (error) {
                console.log(error)
            }
        })
    }
    {% endif %}

    {% if teacher_profile.experience %}
        $("#experience-form7-v").val({{ teacher_profile.experience }})
    {% endif %}

    {% if teacher_profile.learn_type %}
        $("#learn_type-form7-v").val({{ teacher_profile.learn_type }})
    {% endif %}
function show2() {
    $('#spinner-box').css('display','block')

}
function num_to_english(input_id) {

    var pn = ["۰", "۱", "۲", "۳", "۴", "۵", "۶", "۷", "۸", "۹"];
    var en = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];

    var cache =  $('#'+input_id).val();
    for (var i = 0; i < 10; i++) {
        var regex_fa = new RegExp(pn[i], 'g');
        cache = cache.replace(regex_fa, en[i]);
    }
    {#alert(cache)#}
    $('#'+input_id).val(cache);
}




function learn_type_based_view() {
    var category = $('#category-form7-v').val()

    if(category == 'آرایش و زیبایی' || category == 'آشپزی' ||  category == 'هنرهای تجسمی' || category == 'سینما و بازیگری' || category == 'کارهای فنی'){
        $('#hourly_price_div').addClass('d-none')
        $('#workshop_number_div').removeClass('d-none')
        $('#workshop_detail_div').removeClass('d-none')
        $('#workshop_price_div').removeClass('d-none')
    }else {
        $('#hourly_price_div').removeClass('d-none')
        $('#workshop_number_div').addClass('d-none')
        $('#workshop_detail_div').addClass('d-none')
        $('#workshop_price_div').addClass('d-none')
    }
}

function hide_city_when_online() {
    var learn_type = $('#learn_type-form7-v').val()
    if(learn_type == 1 ){
       $('#state_div').css('display','none')
       $('#city_div').css('display','none')
    }
    else {
         $('#state_div').css('display','block')
         $('#city_div').css('display','block')
    }


}

</script>


{% endblock %}
