      <div  class="content border-secondary  border-top text-center pt-4 " style="height: 100px;  ">

        <h2 id="title_1" style="font-size: x-large; color:#5a6268;" > سامانه معرفی استاد و کلاس استادباز   </h2>
        <h2 id="title_2" style="font-size: x-large; display: none;" >  ساعت اول کلاس ها رایگان  </h2>
        <h2 id="title_3" style="font-size: x-large; display: none;" > معرفی استاد(رایگان) </h2>
        <h2 id="title_4" style="display: none;font-size: x-large; ">معرفی کلاس های آموزشی (رایگان)</h2>

    </div>
    <div class="text-center">
{#        <img src="{% static 'accounts/images/استادباز-معرفی کلاس و استاد.jpeg' %}" class="img-fluid" alt="سامانه معرفی استاد و کلاس استادباز">#}
        </div>
      <div class="row w-100 justify-content-center text-center">
        <div class="col-12   " dir="rtl">
          <a href="{% url 'accounts:how_use' %}" style="color: #3f4156"> <i class="fa fa-question text-white" ></i>راهنمای اساتید</a>

            <div class="mbr-section-btn mt-1  text text-center">
                <br>
                <button class="btn btn--sub  " {% if user.is_authenticated %} hidden {% endif %} >
                    <a class="text-white" href="{% url 'accounts:teacher_edit' %}"> &nbsp;ثبت نام اساتید&nbsp;
                        <i class="fas fa-user text-white" ></i>
                    </a>
                </button>
                <button class="btn btn--sub  " {% if user.is_authenticated %} hidden {% endif %}>
                    <a class=" text-white" href="{% url 'accounts:login_view' %}">&nbsp; &nbsp; ورود اساتید&nbsp; &nbsp;
                        <i class="fas fa-chalkboard-teacher text-white" ></i>&nbsp;
                    </a>
                </button>
                <a class="btn btn-primary " {% if  user.is_authenticated == False %} hidden {% endif %}  href="{% url 'accounts:teacher_edit' %}">&nbsp; &nbsp; تغییر/ثبت مشخصات استاد&nbsp; &nbsp;<i class="fas fa-chalkboard-teacher" ></i>&nbsp;</a>
            </div>
        </div>
    </div>