
      <div  class="content border-secondary  border-top text-center pt-4 " style="height: 100px;  ">

        <h2 id="title_1" style="font-size: x-large; color:#5a6268;" > سامانه معرفی استاد و کلاس استادباز   </h2>
        <h2 id="title_2" style="font-size: x-large; display: none;" >  ساعت اول کلاس ها رایگان  </h2>
        <h2 id="title_3" style="font-size: x-large; display: none;" > معرفی استاد(رایگان) </h2>
        <h2 id="title_4" style="display: none;font-size: x-large; ">معرفی کلاس های آموزشی (رایگان)</h2>

    </div>
