      <div  class="content border-secondary  border-top text-center pt-4 " style="height: 100px;  ">

        <h2 id="title_1" style="font-size: x-large; color:#5a6268;" > سامانه معرفی استاد و کلاس استادباز   </h2>
        <h2 id="title_2" style="font-size: x-large; display: none;" >  ساعت اول کلاس ها رایگان  </h2>
        <h2 id="title_3" style="font-size: x-large; display: none;" > معرفی استاد(رایگان) </h2>
        <h2 id="title_4" style="display: none;font-size: x-large; ">معرفی کلاس های آموزشی (رایگان)</h2>

    </div>

{% if user.is_authenticated %}
    <div class="text-center">
 <div class="alert alert-success " style="border-radius: 5px;">
                    <p>{{ user.username }}خوش آمدید</p>
                </div>
    </div><br>
{% endif %}

      <div class="row w-100 justify-content-center ">
        <div class="col-sm-12 col-md-6 col-lg-4  text-center  " dir="rtl">
          <a href="{% url 'accounts:how_use' %}" style="color: #3f4156"> <i class="fa fa-question text-white" ></i>راهنمای اساتید</a>

            <div class="mbr-section-btn mt-1  text text-center">
                <br>
                <button class="btn btn--sub  " {% if user.is_authenticated %} hidden {% endif %} >
                    <a class="text-white" href="{% url 'accounts:teacher_edit' %}"> &nbsp;ثبت نام اساتید&nbsp;
                        <i class="fas fa-user text-white" ></i>
                    </a>
                </button>
                <button class="btn btn--sub  " {% if user.is_authenticated %} hidden {% endif %}>
                    <a class=" text-white" href="{% url 'accounts:login_view' %}">&nbsp; &nbsp; ورود اساتید&nbsp; &nbsp;
                        <i class="fas fa-chalkboard-teacher text-white" ></i>&nbsp;
                    </a>
                </button>
            {% if user.is_authenticated %}

                <a class="btn btn--sub text-white" href="{% url 'accounts:teacher_edit' %}">
                    ثبت/تغییر مشخصات استاد<i class="fas fa-chalkboard-teacher" ></i>&nbsp;
                </a>
            {% endif %}
            </div>
        </div>
    </div>