<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user_verify == None %}
<form action="" class="" method="post">
{% csrf_token %}
<label for="input_mobile_number"> لطفا شماره همراه خود را وارد کنید</label>
<input type="text" name="input_mobile_number" >
<input type="submit" class="btn btn-dark">
</form>
{% endif %}
{% if user_verify %}
<strong>کد تایید به شماره همراه شما ارسال شد لطفا آنرا وارد کنید</strong>
     <form action="" class="" method="post" >
     {% csrf_token %}
     <label for="veri_code_input"></label>
     <input type="text" id="veri_code_input" name="veri_code_input">
         <input type="submit" class="btn btn-dark">
     </form>
{% endif %}
</body>
</html>