{% extends "accounts/_base.html" %}
{% block title %}


{% endblock %}

{% block contents %}

<div class="row ">
    <div class="container">
        <div class="col text-center just pt-4  " >
        {% if user_saved == None %}
             <div class="mbr-section-head  " id="get_user_info">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 text-primary">
                    <strong>ثبت نام</strong></h4>
             </div><br>
             <div class="col-lg-8  col-md-8 col-sm-12  text-left " >
                 <form action="{% if reset_pass_request %}{% url 'accounts:pass_reset_confirmed' %}{% else %}{% url 'accounts:user_create' %}{% endif %}" class="" method="post" >
                     {% csrf_token %}
                     {{ user_create_form.as_p }}




                     <input  type="submit" class="btn btn-primary col-4 " value="ثبت"/>
                 </form>
             </div>
        {% endif %}


{% if user_saved %}

    <div class="mbr-section-head " id="get_user_type" >
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 ">
                    <strong>خوش آمدید</strong></h4>
             </div><br>
        <div>
        <strong>لطفا نوع کاربری خود را انتخاب کنید:</strong><br><br>



        <a  href="{% url 'accounts:student_edit' %}" >  <button type="button" class="btn btn-lg btn-outline-dark "  name="student_button"><i class="fas fa-user-graduate"></i>&nbsp;آموزنده هستید</button>  </a><br><br>
            <a href="{% url 'accounts:teacher_edit' %}" > <button type="button" class="btn btn-lg btn-outline-dark"  name="student_button"><i class="fas fa-chalkboard-teacher"></i>&nbsp;استاد هستید</button>
</a>
    </div>
        </div>
</div>
    </div>
{% endif %}

{% endblock %}
