{% extends 'accounts/_base.html' %}
{% block title %}
<div class="row ">
    <div class="container">
        <div class=" text-center"  >
            <div  data-form-alert="" class="alert text-center alert-danger col-12 mbr-fonts-style align-center mb-0
                {% if  error  %} d-block {% else %}d-none {% endif %}d-none ">{{ error }}<br>
                    {{ teacher_edit_form.errors }}
            </div>
            <div class="mbr-section-head ">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 "><strong>خوش آمدید</strong></h4>
            </div><br>


            <div id="send_mobile_div" {% if user_verified == 'code_sent' or user_verified == 'code_check_error' %} style="display: none" {% endif %}>
                <strong>لطفا شماره همراه خود را وارد کنید</strong><br><br>
                <form action="" class="" method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" name="input_mobile"  id="input_mobile"
                           onkeyup="check_number('input_mobile_submit','input_mobile')" autofocus  autocomplete="new-password" placeholder="09123456789">
                    <input type="submit"  id="input_mobile_submit" class="btn btn-dark " value="ثبت"  disabled>
                </form>
            </div>

            <div id="send_otp_div"   {% if user_verified == 'code_sent' or user_verified == 'code_check_error' %} style="display: block"
                 {% else %}style="display: none" {% endif %} >
                <strong>کد تایید به شماره همراه شما ارسال شد لطفا آنرا وارد کنید</strong><br><br>
                <form action="" class="" method="post" class="form-group text-center" >
                    {% csrf_token %}
                    <label for="veri_code_input"></label>
                    <input type="text" id="veri_code_input" name="veri_code_input" autofocus placeholder="_   _   _   _" class="text-center" onkeyup="check_length()" >
                    <input type="hidden" id="otp_code_generated" name="otp_code_generated" value="{{ otp_code }}">
                    <input type="hidden" id="mobile_number" name="mobile_number" value="{{ mobile_number }}">
                    <input type="submit"  id="code_register" class="btn btn-dark" value="ثبت کد" disabled >
                </form>
                <br>
            </div>

            <div id="resend_otp_div" {% if user_verified == 'code_sent' or user_verified == 'code_check_error' %} style="display: block"{% else %}style="display: none" {% endif %} >
                {% if user_verified == 'code_check_error' %} <strong class="text-danger"> کد وارد شده صحیح نیست</strong><br><br>{% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" id="input_mobile" name="input_mobile" value="{{ mobile_number }}">

                    <input type="submit" id="resend_btn" class=" container" value="ارسال مجدد" style="display: none; width: 150px">

{#                    <input  type="submit" class="btn btn-outline-dark" name="resend_mobile" value="وارد کردن دوباره شماره همراه">#}
                </form><br>
            <div id="countdown" class="inline-group"></div>
            </div>
{{ user_verified }}
{{ otp_code }}
{{ mobile_number }}
        </div>
    </div>
</div>
<script >
{#forced refresh for back#}
window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload(true);
  }
});
function check_length() {

    var pn = ["۰", "۱", "۲", "۳", "۴", "۵", "۶", "۷", "۸", "۹"];
    var en = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];

    var cache =  $('#veri_code_input').val();
    for (var i = 0; i < 10; i++) {
        var regex_fa = new RegExp(pn[i], 'g');
        cache = cache.replace(regex_fa, en[i]);
    }
    $('#veri_code_input').val(cache);

if($('#veri_code_input').val().length === 4){
    $('#code_register').removeAttr("disabled")
}
else {
     $('#code_register').prop( "disabled", true )
}
}

{#        regex for mobile number iranian validate#}
    function check_number (submit_id,mobile_inputted) {

    var pn = ["۰", "۱", "۲", "۳", "۴", "۵", "۶", "۷", "۸", "۹"];
    var en = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];

    var cache =  $('#input_mobile').val();
    for (var i = 0; i < 10; i++) {
        var regex_fa = new RegExp(pn[i], 'g');
        cache = cache.replace(regex_fa, en[i]);
    }
    $('#input_mobile').val(cache);


        let num1 = $("#"+mobile_inputted).val();
        const pattern = /(0)([ ]|-|[()]){0,2}9[0|1|2|3|4|9]([ ]|-|[()]){0,2}(?:[0-9]([ ]|-|[()]){0,2}){8}/ig;
        if (pattern.test(num1) && num1.length == 11) {

            $('#'+submit_id).removeAttr("disabled")

        }
        else{
             $('#'+submit_id ).prop( "disabled", true )
            }
    }
    {#countdown and resend verification ode#}

var timeleft = 60;
var downloadTimer = setInterval(function(){
  if(timeleft <= 0){
    clearInterval(downloadTimer);
    $('#countdown').css('display','none') ;
    $('#resend_btn').css('display','block')
  } else {
    document.getElementById("countdown").innerHTML =    timeleft +" ثانیه تا ارسال مجدد ";
  }
  timeleft -= 1;
}, 1000);


</script>

{% endblock %}